// Colors 
$primary-color:#fb7413;
// neutral
$white: #ffffff;
$light-gray: #959eac;
$medium-gray: #7c8798;
$dark-blue: #252d37;
$very-dark-blue: #121417;

// Radius 
$full-radius: 100%;
$base-radius: 15px;
$medim-radius: 25px;
$large-radius: 30px;

// Spacing 
// padding 
$p-sm: 1rem;
$p-md: 2rem;
$p-lg: 3.5rem;
$p-xl: 4.5rem;
// maring 
$m-xs: 1rem;
$m-sm: 1.5rem;
$m-md: 2.5rem;
$m-lg: 3.5rem;

