// Colors
// primary
$light-cyan: #cee3e9;
$neon-green: #52ffa8;
// neutral
$grayish-blue: #4e5d73;
$dark-grayish: #323a49;
$dark-blue: #1f2632;

// Spacing
// padding 
$p-sm: 20px;
$p-md: 45px;
$p-lg: 50px;
$p-xl: 72px;
// margin
$m-sm: 22px;
$m-md: 30px;
$m-lg: 40px;
$m-xl: 50px;

// Break Points
$bp-lg: 1024px;
$bp-md: 600px;
