// Colors
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// $grayish-blue: rgba(123, 135, 157, 0.61);

// $light-gray: rgba(214, 226, 240, 0.692);

// Spacing

// padding
$p-sm: 15px;
$p-md: 21px;
$p-lg: 30px;
// margin
$m-sm: 10px;
$m-md: 15px;
$m-lg: 20px;

// Radius
$b-radius: 20px;